<h1>Panel</h1>

<?php foreach ($this->tickets as $ticket): ?>
<div>
    <h2 id="ticket<?= $ticket->getId() ?>"><?= $ticket->getRoomId() ?></h2>
    <p>
        <?= $ticket->getTicketNumber() ?>
    </p>
</div>
<?php endforeach; ?>

